@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap')
    
$dark-cyan: hsl(158, 36%, 37%)
$cream: hsl(30, 38%, 92%)

$very-dark-blue: hsl(212, 21%, 14%)
$dark-grayish-blue: hsl(228, 12%, 48%)
$white: hsl(0, 0%, 100%)

.attribution
    position: absolute
    right: 0
    bottom: 0

body
    height: 100vh
    background: $cream
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.perfume-card
    background: $white
    border-radius: 10px
    width: 800px
    display: flex
    overflow: hidden

    &_img
        max-width: 50%
        height: auto

    &_main
        padding: 30px 30px
        display: flex
        flex-direction: column
        justify-content: space-around

    &_product-type
        color: $dark-grayish-blue
        font-family: 'Montserrat', sans-serif
        font-size: 1.2rem
        
    &_product-title
        font-family: 'Fraunces', serif
        color: $very-dark-blue
        font-size: 3rem
        line-height: 2.75rem
        margin: 0

    &_product-description
        font-family: 'Montserrat', sans-serif
        font-size: 1.3rem
        color: $dark-grayish-blue
        margin: 0

    &_product-price > *
        display: inline

    &_product-price
        &__new
            vertical-align: middle
            color: $dark-cyan
            font-family: 'Fraunces'
            font-size: 2.5rem

        &__old
            margin-left: 20px 
            color: $dark-grayish-blue
            font-family: 'Montserrat'
            text-decoration: line-through 1px

    &_add-to-cart
        display: inline-block
        background: $dark-cyan
        text-align: center
        border-radius: 10px
        padding: 20px 0
        text-decoration: none
        color: $white

    &_add-to-cart > *
        vertical-align: middle
        display: inline
        width: 1.5rem
        font-size: 1.5rem